main {
padding-left: 16px;
padding-right: 16px;
}

.basic-card .novice-card-square.mdl-card .advanced-card-square.mdl-card .intermediate-card-square.mdl-card {
    height: 320px;
  }

.novice-card-square > .mdl-card__title {
    color: #fff;
    background:
    bottom right 15% no-repeat #00796b;
}

.intermediate-card-square > .mdl-card__title {
    color: #fff;
    background:
    bottom right 15% no-repeat #0097a7;
}

.basic-card > .mdl-card__title {
    height: 60px;
    color: #fff;
    background:
    bottom right 15% no-repeat #00796b;
}

.basic-card > .mdl-card__supporting-text {
    height: 200px;
}

.basic-card > .mdl-card__actions {
    height: 60px;
}

.advanced-card-square > .mdl-card__title {
    color: #fff;
    background:
    bottom right 15% no-repeat #455a64;
}

.news-card-wide.mdl-card {
    width: 100%;
}

.news-card-wide > .mdl-card__title {
height: 60px;
}

.news-card-wide > .mdl-card__menu {

}

.resource-card-wide.mdl-card {
  /*width: 512px;*/
}
.resource-card-wide > .mdl-card__title {
  color: #000;
  background-color:#B3D4FC;
}

.resource-card-wide > .mdl-card__title > img {
  width: 100%;
}

.resource-card-wide > .mdl-card__menu {
  color: #fff;
}

.resource-card-square.mdl-card {
/*
  width: 320px;
  height: 320px;
*/
}
.resource-card-square > .mdl-card__title {
  color: #000;
  background-color:#B3D4FC;
}
